.user-post-user__container {
  display: flex;
  align-items: baseline;

  .user-post-count {
    color: var(--primary-500);
    font-size: var(--font-0);
  }
}

#user-card .user-post-count {
  margin-inline: initial;
}
